/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
   background-color: var(--colour-background-now-playing);
  //background-color: black;
   color: var(--color-text-primary);
  //color:  rgb(240, 240, 240);
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  // padding: var(--spacing-m);
  padding: 3%;
  margin: 0%;
  width: 100%;
  
  &__cover,
  &__details {
    padding-left: 5%;
    //padding-right: 5%;
    text-align: left;
    width: 100%;
   // border: 1px solid grey;
    
  }

  &__cover {
    max-width: 1000px;
    padding: 0%;
    position: relative;
    padding:7px;
   // opacity: 0.1;
    
  //  &::before {
  //    display: block;
  //    content: " ";
   
  //    right: 42.0%;
  //    bottom: 42.0%;
  //    height: 16%;
  //    width: 16%;
  //    border-radius: 50%;
  //    position: absolute;
  //  }
    
    
    
  }
  
  @-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

  &__image {
    box-shadow: -5px 5px 5px -3px rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: relative;
  }

  &__vinyl {
    height: 90%;
    width: 90%;
    position: absolute;
    top: 3%;
    left: 48.0%;
    //z-index:-1;
    //border: 1px green solid;
    overflow: visible;
  //  border-radius: 100%;
    -webkit-animation: rotating 5s linear infinite;
   // border: 3px solid black;
     &::before {
     display: block;
     content: " ";
   
     right: 42.0%;
     bottom: 42.0%;
     height: 16%;
     width: 16%;
     border-radius: 50%;
     position: absolute;
   }
  }

  &__details {
    text-align: left;
    z-index: 2;
  }

  &__track {
    font-weight: var(--font-weight-heading);
  }

  &__artists {
    opacity: 0.8;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: darkolivegreen;
    width: 100%;
    color: blanchedalmond;
  }

  &__idle-heading {
    width: 100%;
    text-align: center;
    justify-content: center;

  }

}
