/**
 * Global: Typography.
 * -----------------------------------------------------------------------------
 */
h1 {
  font-size: 0.9em;
  font-weight: var(--font-weight-heading);
  letter-spacing: -1.25px;
  //margin: 0 0 var(--spacing-m) 0;
  word-break: break-word;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 0.75em;
  font-weight: var(--font-weight-body);
  letter-spacing: -0.5px;
  margin: 0;
  word-break: break-word;
  text-shadow: 1px 1px 1px black;
}

h3 {
  font-size: 1.4em;
  font-weight: var(--font-weight-body);
  letter-spacing: -0.5px;
  margin: 0;
  line-height: 2.4;
  word-break: break-word;
  text-shadow: 2px 2px 2px black;
}

p {
  font-size: 0.20em;
  line-height: 0.4;
}
